body {

}

h1, h2, h3, h4, h5, h6, .rightnavbar {
    font-family: 'Barlow Condensed', sans-serif;

}

h1, h2, h3, h4, h5, h6 {
    margin:0 0 10px;
    padding:0;
}

p {
    font-size:20px;
}

main, .rightnavbar {
    transition:width .25s ease-out;
}

.brand-logo {
    

}

main {
  padding-right: 220px;
}

article {
    padding: 15px;
}

.row {
    margin-bottom:0 !important;
}

#topcontainer {
    padding: 20px 0 20px 0;
}

.left-spacing {
    padding-left:50px !important;
}

.blog-container {
}


.rightnavbar {
    position:fixed;
    right:0px;
    height:100%;
    width:220px;
    padding:50px;
    font-size:35px;
}

a {
    text-decoration:underline;
}

a:link, a:visited {
    color:black;
}

a:hover {
    color:#1de9b6;
}

.rightnavbar a {
    text-decoration:none;
}

.rightnavbar a:link{
    color:white;

}

.rightnavbar a:visited {
    color:white;
}

.rightnavbar a:hover {
    color:#1de9b6;
}

.rightnavbar a:active {
    color:#1de9b6;

}

.smartboard i {
    color:black;
    font-size:35px;
    letter-spacing:15px;
}

#topcontainer {
    height:250px;
}

.smartboard {
    position:relative;
    bottom:25px;
    left:50px;
    width:250px;
    height:200px;
    background-image:url('../../../assets/smartboard.png');
    background-size:cover;
    padding:60px 60px 50px 50px;
    text-align:center;
}

@media only screen and (max-width : 992px) {
  #topcontainer{
      height:auto;
  }
  
  .smartboard {
      position:static;
      text-align:center;
  }
  
  main  {
    padding-right: 0;
    padding-top:0px;
  }
  .rightnavbar {
      position:static;
      width:100%;
      top:0px;
      height:50px;
      padding-top:0px;
      padding-bottom:5px;
  }
  
  .rightnavbar li {
        display:inline-block;  }
}