body {
    font-family: 'Barlow Condensed', sans-serif;
    min-height: 100vh;
}

h1 {
    line-height: .9em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

p {
    font-size: 25px;
    font-family: Barlow;
}

main,
.rightnavbar {
    transition: width .25s ease-out;
}

footer {
    padding:5px;
}

.name-container h1 {
    
    font-size:100px;
}

.blog-title h1 {

    
    font-weight: 500;
    text-shadow: 4px 4px 2px rgba(150, 150, 101, 0.29);
}



article {
    padding: 15px;
    height: inherit;
}



.row {
    margin-bottom: 0 !important;
}


.left-spacing {
    padding-left: 50px !important;
}

.blog-container {
    height: inherit;
}


.rightnavbar {
    padding: 50px;
    font-size: 35px;
}

a {
    text-decoration: underline;
}

a:link,
a:visited {
    color: black;
}

a:hover {
    color: #ffc107;
}

.rightnavbar a {
    text-decoration: none;
}

.rightnavbar a:link {
    color: white;

}

.rightnavbar a:visited {
    color: white;
}

.rightnavbar a:hover {
    color: #ffc107;
}

.rightnavbar a:active {
    color: #ffc107;

}



.page-headline {}

.headshot {
    border: solid 5px white;
    border-radius: 100%;
    width: 90%;
    max-width: 180px;
    min-width:100px;


}

.smartboard {

    width: 350px;
    height: 270px;
    background-image: url('../../../assets/smartboard.png');
    background-size: cover;
    padding: 70px 90px 90px 90px;
    text-shadow: -5px 3px #DDDDDD;
    margin-left: auto;
    margin-right: auto;
    color: black;
    text-align:center;
}

.smartboard i {
    color: black;
    font-size: 50px;
    letter-spacing: 20px;

}

.smartboard i:hover {
    color: #ffc107;

}

main {
    display: grid;
    grid-template-columns: 450px auto 200px;
    min-height: 100vh;
    
}

main>.rightnavbar {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.top-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px auto;
    grid-row-gap: 50px;
    padding-bottom: 20px;
    min-height: inherit;
}

.name-container {
    margin-top: 30px;
}

.name-container a {
    text-decoration: none;
    color: inherit;
}

.headshot-container {
    margin-top: 30px;

}

.smartboard-container {
    margin-left: auto;
    margin-right:40px;
    grid-column: 1 / span 2;
}

@media only screen and (max-width: 992px) {

    .top-container {
        grid-template-columns: repeat(2, minmax(150px, 1fr));
        grid-template-rows: auto auto;
        min-height: 0;
    }

    .smartboard {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        background-image: none;
        text-shadow: none;
        padding: 0;
        height: auto;
        text-align: center;
                color:white;

    }

    .smartboard-container {
        text-align: center;
        grid-column: 1 / -1;
        margin-left: auto;
        margin-right: auto;
    }

    .smartboard i {
        color: white;


    }

    main {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 70px auto auto;

    }

    main>.rightnavbar {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 1;
        padding: 10px;
        min-height: 0;
    }

    .rightnavbar>ul {
        min-height: 70px;
        margin: 0;
        text-align: center;

    }

    .rightnavbar li {
        display: inline-block;

    }


}
